@import "partials.scss";

.grid-form > div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	input, select, textarea, button {
		width: 200px;
	}
	textarea {
		height: 125px;
	}
}
.sf_4cols_1_25 {
	height: 1px;
}
