@import "partials.scss";

.navbar-bg {
	background: linear-gradient(rgba(36, 57, 89, .82), rgba(36, 57, 89, .82)), url('/hki-sitefinity-theme/dist/img/textures/triangle-tiles.png');
}

.navbar {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 0; // override main.min.css
	min-height: auto;
	border: none;
	a {
		display: block;
		padding: .5em 1em;
	}
	a:link, a:visited, a:hover, a:active {
		color: white;
	}
	ul {
		list-style: none;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	ul.sfNavList > li.k-item {
		position: relative;
		padding: 0;
		border-width: 0;
		&:hover, a.sfSel {
			background: #658ab2;
		}
	}

	// first level
	&>a { display: none; } // hide links that show/hide navigation on mobile
	&>ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&>ul>li {
		height: 2.25em;
	}
	&>ul>li:first-child {
		margin-left: -1em;
	}
	&>ul>li>a {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}

	// second level
	ul ul {
		display: none;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		flex-direction: column;
		width: max-content;
		background: rgba(36, 57, 89, .95)
	}
	li:hover>ul {
		display: flex;
	}
	ul ul>li>a {
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}

}
