@import "partials.scss";

ul.sfnewsList {

	padding-left: 0;

	li.sfnewsListItem {
		@include card();
		list-style: none;
		img {
			max-width: 100%;
		}
		h2.sfnewsTitle {
			margin-top: 0;
		}
		.sfnewsAuthorAndDate {
			color: gray;
			font-size: 12px;
		}
	}

}
