// mixins

@mixin regular-emphasis {
	font-weight: bold;
}
@mixin heavy-emphasis {
	@include regular-emphasis;
	font-variant: all-petite-caps;
	text-transform: lowercase;
}
@mixin light-emphasis {
	font-family: "Roboto Condensed", sans-serif;
}
.light-emphasis { @include light-emphasis }

@mixin background-blur($amount, $opacity, $imgpath, $offset) {
	// Gives the element a blurred background image.
	// $amount: how much blur to apply (e.g. 15px)
	// $opacity: of blue overlay (e.g. .75)
	// $imgpath: path to background image (e.g. 'img/backgrounds/kitchen.jpg')
	// $offset: vertical position of background image (e.g. 50%)
	position: relative;
	overflow: hidden;
	&:before {
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: rgba(36, 57, 89, $opacity);
		background-size: cover;
		z-index: 1;
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		filter: blur($amount);
		background: url($imgpath);
		background-position: 50% $offset;
		background-size: cover;
		z-index: 0;
	}
	& > * {
		z-index: 2;
		position: relative;
	}
}


// variables

$text-color: rgb(214, 216, 223);
$header-bg-img: '/images/default-source/theme/kitchen.jpg?Status=Temp&sfvrsn=6a8989cf_2';
$header-bg-img-offset: 70%;


// utilities

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.spaced-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hidden {
	display: none;
}
.flex-align-items-center {
	align-items: center;
}
.flex-end {
	align-items: flex-end;
}
.flex-space-evenly {
	justify-content: space-evenly !important;
}
.flex-space-between {
	justify-content: space-between !important;
}
.flex-justify-center {
	justify-content: center;
}
.flex-justify-end {
	justify-content: flex-end;
}
.flex-row-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-shrink {
	flex-shrink: 1;
}
.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
}
.pos-stat {
	position: static;
}