@import "partials.scss";

// globals

body {
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

.sfPublicWrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	.sf_cols:nth-child(3) {
		flex-grow: 1;
	}
}

.header {
	//@include background-blur(5px, rgba(36, 57, 89, .65), $header-bg-img, $header-bg-img-offset - 58%);
	background: linear-gradient(rgba(36, 57, 89, .65), rgba(36, 57, 89, .65)), url('/hki-sitefinity-theme/dist/img/textures/triangle-tiles.png');
	a {
		color: white;
		transition: color .25s;
	}
	.home-link {
		margin: 20px;
		flex-grow: 1;
	}
	.home-link:hover, .home-link:active, .home-link:focus {
		text-decoration: none;
	}
	.home-link img {
		float: left;
		margin-right: 1em;
		@media (max-width: 420px) {
			display: none;
		}
	}

	.search-box .btn {
		background-color: #003559;
		color: #CCDAE4;
	}

	.header-nav-group {
		flex-grow: 1;
		display: flex;
		@media (min-width: 768px) {
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
		}
		@media (max-width: 767px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			margin-bottom: 1em;
		}
	}
	.search-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		@media (min-width: 768px) {
			margin-top: 1em;
		}
	}
	.employee-login {
		@include light-emphasis;
		@media (min-width: 768px) {
			margin-top: 1em;
		}
		span {
			@media (max-width: 430px) {
				display: none;
			}
		}
	}
	.search-box {
		width: 250px;
		input {
			background-color: #CCDAE4;
		}
		button.btn {
			@include light-emphasis;
		}
	}
}

.main-content-bg {
	height: 100%;
	background: linear-gradient(rgba(36, 57, 89, .2), rgba(36, 57, 89, .2)), url('/hki-sitefinity-theme/dist/img/textures/triangle-tiles.png');
}

.main-content {
	.sfContentBlock:not(.no-card), .sfexpandedListWrp:not(.no-card) {
		@include card();
		h1, h2 {
			margin-top: 0;
		}
		img[style*="float: left"] {
			margin-right: 12px;
			margin-bottom: 12px;
		}
		br:last-child {
			display: none;
		}
	}
	.denest-list {
		ul.sflist {
			padding-left: 0;
		}
		li.sflistitem {
			list-style: none;
		}
		.sfexpandedListWrp {
			li.sflistitem:first-child > h3.sflistItemTitle {
				margin-top: 0;
			}
		}
	}
	.no-margin-top:not(.no-card) {
		margin-top: 0;
		.sfexpandedListWrp {
			margin-top: 0;
		}
	}
	.no-margin-bottom:not(.no-card) {
		margin-bottom: 0;
	}
	.no-padding-top:not(.no-card) {
		padding-top: 0;
		.sfexpandedListWrp {
			padding-top: 0;
		}
	}
	.no-padding-bottom:not(.no-card) {
		padding-bottom: 0;
	}

}

.footer {
	background-image: url('/hki-sitefinity-theme/dist/img/textures/dark-brushed-metal.jpg');
	color: $text-color;
	position: relative;
	padding: 0;
	&::before {
		content: '';
		width: 100%;
		height: 7px;
		background: linear-gradient(to right, hsla(228, 6%, 65%, .4), hsla(228, 6%, 65%, .4), hsla(227, 12%, 86%, .6), hsla(228, 6%, 65%, .4));
		box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3);
		position: absolute;
		top: 0;
		left: 0;
	}
	a:link, a:visited, a:hover, a:active {
		color: $text-color;
		text-decoration: underline;
	}
	.col {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.smallcaps, .lang-select label {
		font-family: "Arial", sans-serif;
		font-weight: bold;
		font-variant: small-caps;
		text-transform: lowercase;
		color: rgba(169, 169, 169, 1);
		margin-top: 1.5em;
	}

	.lang-select select{
		font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		margin: 1em 0;
		background: #161617;
		color: $text-color;
		@include light-emphasis;
	}
	.link-row {
		margin: 1em 0;
		a {
			@include light-emphasis;
		}
		a:first-child {
			padding-right: .5em;
		}
		a:not(:first-child) {
			padding: .5em;
		}
	}
	.title {
		font-weight: bold;
		display: inline;
		margin-right: .75em;
	}
}
